#banner .inverse {
   padding: 25px 0;

   p {
      font-family: 'Roboto Thin';
      font-size: 32pt;
   }
}

#banner.row, #banner .row {
   margin-bottom: 0;
}

.intro {
   background-image: url('/img/ucd-campus-bikes.jpg');
   background-position: center;
   background-size: cover;
   min-height: 600px; 
   position: relative;
   padding-bottom: 0;

   h1, h3 {
      background: #000;
      opacity: 0.85;
      position: absolute;
      margin: 0;
   }

   h1 {
      padding: 40px;
      bottom: 30%;
   }

   h3 {
      padding: 20px;
      bottom: 10%;
   }

}

@media #{$small-and-down} {
   .intro {
      h1 {
         font-size: 3.0em;
         padding: 10px;
      }
      h3 {
         font-size: 2.0em;
         padding: 5px;
      }
   }
}
