@import "../../bower_components/materialize/sass/components/mixins";
@import "../../bower_components/materialize/sass/components/color";

$primary-color: color("light-blue", "base");
$secondary-color: color("light-blue", "lighten-2");

$roboto-font-path: "/font/roboto/";
$icons-font-path: "/font/material-design-icons/";

@import "../../bower_components/materialize/sass/materialize";

@font-face {
   font-family: 'Roboto Thin';
   src: url("#{$roboto-font-path}Roboto-Thin.woff");
}

$fa-font-path: "/font/font-awesome";

@import "../../bower_components/font-awesome/scss/font-awesome";
