+contentSection(id='bring-fiber-to-davis')

   h2.header How can we bring community-owned fiber to Davis?

   p
      b We can't do it without you.

   p.
      Davis was once a leader in Internet connectivity thanks to Davis
      Community Network. The efforts of this citizen-driven, non-profit
      organization brought internet access to Davis in 1993. It’s time for
      us to take action on internet access once more. We plan on launching
      Davis out of the "Copper Ages" and into the era of fiber optic
      networks that boast data speeds approaching the speed of light. Join
      our network of neighbors working to make the next mark on Davis's
      legacy of exceptionalism.


+contentSection(true)(id='sign-up-form')

   h2.header You can help.

   p.
      Are you interested in the process? Or would you like to help? Join our
      email discussion list.

   p.
      This effort is just underway and now is the time for community members
      to come forward and show support. Sign up for our newsletter!

   .row
      include ../partials/sign-up-form

      .input-field.col.s12
         button.btn.white.light-blue-text Sign Me Up
