+contentSection(id='contact-city-council')

  h4 Contact Your Local City Council Members

  form.col.s12
     .input-field
        input.name(type="text" class="validate")
        label Enter Your Name

     .input-field
        textarea.materialize-textarea.email-content(class="validate")
        label Feel Free to Make Changes

     button.btn 
       i.fa.fa-send
       | &nbsp; Send
