+contentSection(id='contact-city-council')

  .template(style="display:none")
    include ./contact-city-council-body.txt

  h4 Contact Your Local City Council Members

  form.col.s12
    .input-field
      input.name.validate(type="text")
      label Enter Your Name

    .content.hide

      .input-field
        input.to(disabled type="text" value="council@example.org")
        label To:

      .input-field
        input.cc(disabled type="text" value="citycouncilemail@davisgig.org")
        label Cc:

      .input-field
        input.subject(type="text" value="Please Help Support Davis Fiber")
        label Subject:

      .input-field
        textarea.materialize-textarea.body.validate
        label Feel Free to Make Changes

      a.btn.send
        i.fa.fa-send
        | &nbsp; Compose In Your Email Client
