+contentSection(id='good-for-davis')

   h2.header Why is community-owned fiber good for Davis?
   
   p.
      For most of us, reliable high-speed internet is out of reach. Most of us
      can’t watch Netflix in Ultra HD quality, and nearly half of our neighbors
      don't have fast enough connections to watch a YouTube video without
      buffering. We’re fed up with overpaying for slow service, but bringing
      gigabit-speed fiber-optic internet to Davis isn’t just about loading
      videos faster.

   p.
      Here is just a small selection of the benefits of community fiber:

   dl
      dt Access
      dd Truly unlimited, reliable and lightning-fast service everywhere in Davis at prices that may match--or even beat--currently available plans.

      dt Privacy
      dd Major internet providers in the US lack privacy protections. A community fiber network will open the Davis market to providers who don’t supplement their revenue by selling your data.

      dt Investment in the community
      dd Reduced maintenance costs and reasonable utility service fees will allow the city to recoup its investment, turning the fiber optic network into a revenue-generating asset when the city leases access to its infrastructure to privately-owned service providers.

      dt Community connectivity
      dd Even without buying access to the rest of the web, residents of a networked Davis will be able to video chat and share files with neighbors, and instantly move data between home and campus.

      dt Choice
      dd You’ll be able to pick from a wide variety of internet, television and phone options from multiple providers, all served from the City network. High quality shared infrastructure means you’ll be able to switch providers as your needs change without the hassle of installing and activating new hardware.

      dt Transparency and accountability
      dd Community fiber is made for you. When you have a concern, your voice matters.

   p.
      Community-owned fiber will open the doors to this and so much more.
      
   +scrollToButton('#bring-fiber-to-davis')
