+contentSection(id='what-is-community-fiber')

   h2.header What is community-owned fiber?

   p.
      We’re proposing a public-private partnership to bring the internet
      infrastructure of a modern city to Davis: a community-owned fiber optic
      network providing internet connections at the speed of up to a gigabit
      per second. We’re excited about bringing community-owned and
      stakeholder-operated telecommunications to town, and look forward to
      working with private internet service providers to guarantee high-quality
      internet to all.

   p.
      When we’re no longer bound to aging, monopoly-controlled copper phone and
      cable lines we will be able to provide all our citizens with the
      affordable internet access needed to learn, teach, connect and stay
      competitive in the global community. Like the phone lines installed 100
      years ago, our fiber optic network will be used for decades to come. This
      community-owned, -operated and -maintained infrastructure is an
      investment in our future. It’s time for us to take action and develop the
      internet infrastructure that Davis needs in order to remain a leader in
      science, technology and quality of life.

   +scrollToButton('#good-for-davis')
