footer.page-footer
   .container
      .row
         .col.l6.s12
            h5.white-text
               | Support Davis
               b Gig

            button.btn Donate Now

         .col.l4.offset-l2.s12
             h5.white-text
               | Social Links
             ul
               li: a.grey-text.text-lighten-3(href="//www.facebook.com/davisca.gig")
                  i.fa.fa-lg.fa-facebook
               li: a.grey-text.text-lighten-3(href="//twitter.com/davis_gig")
                  i.fa.fa-lg.fa-twitter

   .footer-copyright
      .container
         &copy; 2015 davisgig.org
         a.tooltipped.right(data-position="top" data-delay="50" data-tooltip="fork us!"  href="//github.com/DavisGig")
            i.fa.fa-lg.fa-github-alt
