footer.page-footer
   .container
      .row
         .col.l6.s12
            h5.white-text
               | Support Davis
               b Gig

            p.white-text.
               Your tax-deductible contribution to the Davis Community Network
               will be earmarked for efforts to bring municipal Internet to Davis. If you need
               an acknowledgement of your contribution for tax purposes, please send a note to
               <a href="mailto:admin@dcn.org">admin@dcn.org</a> when you make the
               contribution.

            form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
               input(type="hidden" name="cmd" value="_s-xclick")
               input(type="hidden" name="hosted_button_id" value="Q63Q2HLUX568A")
               button.btn Donate Now

         .col.l4.offset-l2.s12
             .row
               .col.s6
                 h5.white-text Social Links

                 ul
                   li: a.grey-text.text-lighten-3(href="//www.facebook.com/davisca.gig")
                      i.fa.fa-lg.fa-facebook
                   li: a.grey-text.text-lighten-3(href="//twitter.com/davis_gig")
                      i.fa.fa-lg.fa-twitter

               .col.s6
                 h5.white-text Collaboration

                 ul
                   li: a.tooltipped.grey-text.text-lighten-3(href="//www.dcn.davis.ca.us/~help/dokuwiki/"
                       data-position="right" data-delay="50" data-tooltip="wiki")
                     i.fa.fa-lg.fa-pencil-square-o

                   li: a.tooltipped.grey-text.text-lighten-3(href="//list.omsoft.com/mailman/listinfo/davisgig"
                       data-position="right" data-delay="50" data-tooltip="discussion list")
                     i.fa.fa-lg.fa-newspaper-o

                   li: a.tooltipped.grey-text.text-lighten-3(href="//trello.com/davis_gig"
                       data-position="right" data-delay="50" data-tooltip="trello")
                     i.fa.fa-lg.fa-trello

   .footer-copyright
      .container
         .row
            .col.s4
               | &copy; 2015 davisgig.org

            .col.s7.
               photos by 
               <a href="http://flickr.com/photos/21625048@N00/2061899540"> P.C. Loadletter</a>, 
               <a href="https://www.flickr.com/photos/sp8254/">SP8254</a>, and
               <a href="http://flickr.com/photos/24049265@N00/6853723">arlen</a>

            .col.s1
               a.tooltipped.right(data-position="top" data-delay="50" data-tooltip="fork us!"  href="//github.com/DavisGig")
                  i.fa.fa-lg.fa-github-alt

