form.col.s12
   .input-field.col.s6
      input.first-name(type="text" class="validate")
      label First Name

   .input-field.col.s6
      input.last-name(type="text" class="validate")
      label Last Name
   
   .input-field.col.s12
      input.email(type="email" class="validate")
      label Email
