extends ./layout.jade

block content
   main
      #banner.row
         .intro.white-text
            h1 Community-owned Fiber Internet
            h3 A Future Worth Working For

         .row.inverse
            .col.s12.m10.offset-m1
               p.flow-text.
                  Communities across the country are bringing fast,
                  affordable internet into their homes and we can too. By investing in a
                  community-owned fiber optic network, we can support innovation, safeguard user
                  privacy, encourage service competition and provide a fast, reliable internet
                  connection to our homes, businesses and schools.

               br

               .center
                  button.btn.btn-large.white.light-blue-text(onclick="showMore()")
                     i.mdi-action-info.left
                     | Learn More
                  | &nbsp;
                  button.btn.btn-large.white.light-blue-text(onclick="showModal()")
                     i.mdi-toggle-check-box.left
                     | Sign Up

      section#learn-more
         include content/what-is-community-fiber

         +parallaxImage("/img/background-2.jpg")

         include content/good-for-davis

         +parallaxImage("/img/background-3.jpg")

         include content/bring-fiber-to-davis
