include mixins

doctype html
html(lang="en")
   head
      meta(charset="utf-8")
      title davisgig.org

      link(rel="stylesheet" href="/site.css")

   body
      nav
         .nav-wrapper
             a.left.brand-logo(href="#") 
               | Davis
               b Gig
             ul.right
                li: a(onclick="showModal()") GET INVOLVED!

      header.row
         .intro.white-text
            h1 
               | Community-owned Fiber Internet
               br
               small Future Worth Working For
               
         .row.inverse
            .col.s8.offset-s2
               h4.
                  Communities across the country are bringing fast,
                  affordable internet into their homes and we can too. By investing in a
                  community-owned fiber optic network, we can support innovation, safeguard user
                  privacy, encourage service competition and provide a fast, reliable internet
                  connection to our homes, businesses and schools.

               br
               p.center 
                   button.btn.btn-large.white.light-blue-text(onclick="showMore()") 
                     i.mdi-action-info.left
                     | Learn More

                   button.btn.btn-large.white.light-blue-text(onclick="showModal()")
                     i.mdi-toggle-check-box.left
                     | Sign Up

      section#learn-more
         include content/what-is-community-fiber

         +parallaxImage("/img/background-5.jpg")
         
         include content/good-for-davis 

         +parallaxImage("/img/background-6.jpg")

         include content/bring-fiber-to-davis


      footer.light-blue-text.text-lighten-3
         ul
            li Made with &hearts; in Davis, CA
            li &copy; 2015 DavisGig


      .modal#sign-up-modal
         .modal-content
            h4 
               | Interested? 
               small Let us know!
 
            p. 
               Davis residents, if you would be willing to vote for this,
               please register your support, and we'll keep you up-to-date with
               news as this effort moves forward. DavisGig is a
               community-driven effort. 

            .row
               include partials/sign-up-form

         .modal-footer
            btn.btn.modal-action.modal-close.waves-effect.light-blue
               i.mdi-navigation-check.left
               | Sign Me Up

      script(src="/vendor/js/jquery.js")
      script(src="/vendor/js/materialize.js")
      script(src="/site.js")

      script.
         document.write('<script src="http://'
             + (location.host || 'localhost').split(':')[0]
             + ':35729/livereload.js"></'
             + 'script>')
