include mixins

doctype html
html(lang="en")
   head
      meta(charset="utf-8")
      title davisgig.org

      if development
         link(rel="stylesheet" href="/css/site.css")
      else
         link(rel="stylesheet" href="/css/site.min.css")

   body
      header
         nav
            .nav-wrapper
                a.left.brand-logo(href="/")
                  | Davis
                  b Gig
                ul.right
                   li: a(onclick="showModal()") GET INVOLVED!

      block content

      include partials/footer

      .modal#sign-up-modal
         .modal-content
            h4 
               | Interested? 
               small Let us know!
 
            p. 
               Davis residents, if you would be willing to vote for this,
               please register your support, and we'll keep you up-to-date with
               news as this effort moves forward. DavisGig is a
               community-driven effort. 

            .row
               include partials/sign-up-form

         .modal-footer
            btn.btn.modal-action.modal-close.waves-effect.light-blue(onclick="register('#sign-up-modal')")
               i.mdi-navigation-check.left
               | Sign Me Up

      if development
         script(src="/js/vendor.js")
         script(src="/js/site.js")
      else
         script(src="/js/vendor.min.js")
         script(src="/js/site.min.js")

      if development
         script.
            document.write('<script src="http://'
                + (location.host || 'localhost').split(':')[0]
                + ':35729/livereload.js"></'
                + 'script>')
