mixin scrollToButton(elem)
   .center
      a.btn-floating.btn-large.light-blue(onclick="scrollToDiv('#{elem}')")
         .mdi-navigation-expand-more

mixin parallaxImage(src)
   .parallax-container
      .parallax
         img(src="#{src}")

mixin contentSection
   .section(id!=attributes.id, class!=attributes.class)
      .row.container
         .col.s8.offset-s2
            block
